html{
    font-family:  sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    
}
header{
    background-color: #5a879f;
    color: #3d4751;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
header>img{
    width: 5em;
    height: 5em;
    margin: 16px;
}
header>h1{
    font-size: 5em;
    margin:24px 0 0 0;
}
header>p{
    font-size: 1.5em;
    justify-self: center;
    margin: 24px 12px 24px 12px;
}

nav{
    background-color: #86a8ba;
    
}
nav>ul{
    list-style: none;
    font-size: 4em;
}

section{
    background-color: #86a8ba;
    display: flex;
    justify-content: space-around;
    
}

section>img{
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  margin: 16px 0px 16px 0px;
}
footer{
    background-color: #5a879f;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
